body, section, div, p, div.second, div.third, div.fourth, div.fifth, div.sixth, div.a4, div.b4, div.c4, div.a5, div.b5, div.c5, article {
	padding: 0;
	margin: 0;
}
body {
	padding: 50px 40px;
    background-color: #f5f5f5;
}
.flexbox {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	align-items: center;
	justify-content: center;
}
 div.second, div.third, div.fourth, div.fifth, div.sixth, div.a4, div.b4, div.c4, div.a5, div.b5, div.c5, div.sixth, div.seventh {
	border: 1px solid #a89da8;
	margin: 15px 15px;
	outline: #d4d4d4 solid 1px;
}
div.second, div.third {
	margin-left: 0px;
}
div.fourth, div.fifth {
	margin-right: 0px;
}
.flexbox p {
	padding: 40px;
}

.toprow, .topbox, .bottombox {
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
	
}
.bottombox {
	flex-flow: column wrap;
}
.toprow {
	margin: 15px;
}
.first {
	background-color: #ff00ff;
	border: 1px solid #a89da8;
	outline: #d4d4d4 solid 1px;
	
}
.flexbox .first>p {
	padding: 20px;
}
.red-green, .bigblock {
	display: flex;
	flex-flow: column wrap;
}
.red-green {
	width: 22%;
}
.bigblock {
	width: 78%;
}
.second {
	background-color: #40ff00;
}
.third {
	background-color: #ff0000;
}
.fourth {
	background-color: #ff7f39;
}
.fifth {
	background-color: #6487ff;
}
.seventh {
	background-color: #7e7e7e;
}
.sixth {
	background-color: #f2ff4e;
}
div.fourth, div.fifth {
	display: flex;
	flex-flow: row nowrap;
	padding: 18px 45px;
}
.flexbox article {
	padding: 17px;
	margin: 0px;
}
div.fourth {
	justify-content: space-between;
	align-items: center;
}
div.fifth {
	justify-content: space-between;
	align-items: center;
    height: 125px;
}
.a4 {
	background-color: #54ffff;
}
.b4 {
	background-color: #cccccc;
}
.c4 {
	background-color: #830000;
}
.a5 {
	background-color: #ff00ff;
}
.b5 {
	background-color: #008e3d;
}
.c5 {
	background-color: #333333;
}
div.a4, div.b4, div.c4 {
	width: 19%;
	margin: 10px;
}
div.a5, div.b5, div.c5 {
	width: 12%;
	margin: 10px;
}
div.fifth div.a5 {
	align-self: flex-start;
}
div.fifth div.c5 {
	align-self: flex-end;
}